*-main.py
../0x01-python-if_else_loops_functions/6-print_comb3.py~
        ../0x03-python-data_structures/#10-divisible_by_2.py#
        ../0x03-python-data_structures/0-main.py
        ../0x03-python-data_structures/1-main.py
        ../0x03-python-data_structures/10-main.py
        ../0x03-python-data_structures/2-main.py
        ../0x03-python-data_structures/3-main.py
        ../0x03-python-data_structures/4-main.py
        ../0x03-python-data_structures/5-main.py
        ../0x03-python-data_structures/8-main.py
        ../0x03-python-data_structures/__pycache__/
        ../0x04-python-more_data_structures/0-main.py
        ../0x04-python-more_data_structures/1-main.py
        ../0x04-python-more_data_structures/101-main.py
        ../0x04-python-more_data_structures/102-main.py
        ../0x04-python-more_data_structures/12-main.py
        ../0x04-python-more_data_structures/12-roman_to_int.py
        ../0x04-python-more_data_structures/2-main.py
        ../0x04-python-more_data_structures/3-main.py
        ../0x04-python-more_data_structures/__pycache__/
        ../0x05-python-exceptions/0-main.py
        ../0x05-python-exceptions/1-main.py
        ../0x05-python-exceptions/1-safe_print_integer.py~
        ../0x05-python-exceptions/2-main.py
        ../0x05-python-exceptions/__pycache__/
        ../0x06-python-classes/0-main.py
        ../0x06-python-classes/0-main.py~
        ../0x06-python-classes/1-main.py
        ../0x06-python-classes/2-main.py
        ../0x06-python-classes/2-square.py~
        ../0x06-python-classes/3-main.py
        ../0x06-python-classes/3-square.py~
        ../0x06-python-classes/__pycache__/
        ../0x07-python-test_driven_development/0-add_integer.py
        ../0x07-python-test_driven_development/0-add_integer.py~
        ../0x07-python-test_driven_development/0-main.py
        ../0x07-python-test_driven_development/2-matrix_divided.py
        ../0x07-python-test_driven_development/3-say_my_name.py
        ../0x07-python-test_driven_development/4-print_square.py
        ../0x07-python-test_driven_development/5-text_indentation.py
        ../0x07-python-test_driven_development/__pycache__/
        ../0x07-python-test_driven_development/test/
        ../0x08-python-more_classes/0-main.py
        ../0x08-python-more_classes/1-main.py
        ../0x08-python-more_classes/2-main.py
        ../0x08-python-more_classes/2-rectangle.py~
        ../0x08-python-more_classes/3-main.py
        ../0x08-python-more_classes/3-main.py~
        ../0x08-python-more_classes/3-rectangle.py~
        ../0x08-python-more_classes/4-main.py
        ../0x08-python-more_classes/4-main.py~
        ../0x08-python-more_classes/4-rectangle.py~
        ../0x08-python-more_classes/5-main.py
        ../0x08-python-more_classes/5-main.py~
        ../0x08-python-more_classes/5-rectangle.py~
        ../0x08-python-more_classes/6-main.py
        ../0x08-python-more_classes/6-main.py~
        ../0x08-python-more_classes/6-rectangle.py~
        ../0x08-python-more_classes/7-main.py
        ../0x08-python-more_classes/7-main.py~
        ../0x08-python-more_classes/7-rectangle.py~
        ../0x08-python-more_classes/8-main.py
        ../0x08-python-more_classes/8-rectangle.py
        ../0x08-python-more_classes/9-main.py
        ../0x08-python-more_classes/9-rectangle.py
        ../0x08-python-more_classes/__pycache__/
        ../0x09-python-everything_is_object/19-main.py
        ../0x09-python-everything_is_object/19-main.py~
        ../0x09-python-everything_is_object/7-answer.txt~
        ../0x09-python-everything_is_object/__pycache__/
        ../0x0A-python-inheritance/0-main.py
        ../0x0A-python-inheritance/1-main.py
        ../0x0A-python-inheritance/1-my_list.py~
        ../0x0A-python-inheritance/10-main.py
        ../0x0A-python-inheritance/10-main.py~
        ../0x0A-python-inheritance/10-square.py~
        ../0x0A-python-inheritance/11-main.py
        ../0x0A-python-inheritance/11-square.py
        ../0x0A-python-inheritance/2-is_same_class.py~
        ../0x0A-python-inheritance/2-main.py
        ../0x0A-python-inheritance/2-main.py~
        ../0x0A-python-inheritance/3-is_kind_of_class.py~
        ../0x0A-python-inheritance/3-main.py
        ../0x0A-python-inheritance/3-main.py~
        ../0x0A-python-inheritance/4-inherits_from.py~
        ../0x0A-python-inheritance/4-main.py
        ../0x0A-python-inheritance/4-main.py~
        ../0x0A-python-inheritance/5-base_geometry.py~
        ../0x0A-python-inheritance/5-main.py
        ../0x0A-python-inheritance/5-main.py~
        ../0x0A-python-inheritance/6-base_geometry.py~
        ../0x0A-python-inheritance/6-main.py
        ../0x0A-python-inheritance/6-main.py~
        ../0x0A-python-inheritance/7-base_geometry.py~
        ../0x0A-python-inheritance/7-main.py
        ../0x0A-python-inheritance/7-main.py~
        ../0x0A-python-inheritance/8-main.py
        ../0x0A-python-inheritance/8-main.py~
        ../0x0A-python-inheritance/8-rectangle.py~
        ../0x0A-python-inheritance/9-main.py
        ../0x0A-python-inheritance/9-main.py~
        ../0x0A-python-inheritance/9-rectangle.py~
        ../0x0A-python-inheritance/__pycache__/
        ../0x0A-python-inheritance/tests/1-my_list.txt
        ../0x0B-python-input_output/#4-main.py#
        ../0x0B-python-input_output/0-main.py
        ../0x0B-python-input_output/1-main.py
        ../0x0B-python-input_output/10-main.py
        ../0x0B-python-input_output/10-student.py
        ../0x0B-python-input_output/11-main.py
        ../0x0B-python-input_output/11-student.py
        ../0x0B-python-input_output/12-main.py
        ../0x0B-python-input_output/12-pascal_triangle.py
        ../0x0B-python-input_output/2-main.py
        ../0x0B-python-input_output/3-main.py
        ../0x0B-python-input_output/3-to_json_string.py~
        ../0x0B-python-input_output/4-from_json_string.py~
        ../0x0B-python-input_output/4-main.py
        ../0x0B-python-input_output/4-main.py~
        ../0x0B-python-input_output/5-main.py
        ../0x0B-python-input_output/5-main.py~
        ../0x0B-python-input_output/5-save_to_json_file.py~
        ../0x0B-python-input_output/6-load_from_json_file.py~
        ../0x0B-python-input_output/7-add_item.py
        ../0x0B-python-input_output/8-class_to_json.py
        ../0x0B-python-input_output/8-my_class.py
        ../0x0B-python-input_output/9-main.py
        ../0x0B-python-input_output/9-student.py
        ../0x0B-python-input_output/__pycache__/
        ../0x0B-python-input_output/add_item.json
        ../0x0B-python-input_output/my_dict.json
        ../0x0B-python-input_output/my_fake.json
        ../0x0B-python-input_output/my_fake.json~
        ../0x0B-python-input_output/my_file_0.txt
        ../0x0B-python-input_output/my_first_file.txt
        ../0x0B-python-input_output/my_list.json
        ../0x0B-python-input_output/my_list.json~
        ../0x0B-python-input_output/my_set.json
        ../0x0C-python-almost_a_circle/0-main.py
        ../0x0C-python-almost_a_circle/1-main.py
        ../0x0C-python-almost_a_circle/check.py
        ../0x0C-python-almost_a_circle/example.py
        ../0x0C-python-almost_a_circle/models/__pycache__/
        ../0x0C-python-almost_a_circle/models/square.py~
        ../0x0C-python-almost_a_circle/test.py
        10-top_score.sql
        11-best_score.sql
        12-no_cheating.sql
        13-change_class.sql
        14-average.sql
        15-groups.sql
        16-no_link.sql
        5-full_table.sql
        6-list_values.sql
        7-insert_value.sql
        8-count_89.sql
        9-full_creation.sql
